*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

h1{
    background-color: #7063a7;
    text-align: center;
    margin-bottom: 50px;
    
}
body{
    background:linear-gradient(to right,rgb(30, 195, 228),rgba(0, 132, 255, 0.879)) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.container{
        background-color: white;
        height: 600px;
        padding: 55px;
        min-width: 20%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
}
.container input,button{
    height: 50px;
    width: 350px;
    

}
.container p{
    text-align: center;
    color: gray;
    margin-bottom:10px ;
}
.container button{
    background-color: #003049;
    font-size: 20px;
    color:#fff;
    border-radius: 5px;
}
.container input{
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}
.qrcode
{
    margin: 20px auto ;
    opacity: 0;
    /* margin: auto !important; */   
}
.qrcode img{
    height: 200px;
   
}
.container.active .qrcode{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}

@media  screen and (width:320px) {
    
    body{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .container{
        /* margin-top: 20px; */
        background-color: white;
        height: 500px;
        padding: 15px;
        min-width: 20%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
}    
.container input,button{
    height: 50px;
    width: 280px;
    

}
.container .qrcode img{
    width: 150px;
    height: 150px;
}
}
@media  screen and (width:720px){
    
}
.logo{

    height: auto;
    width: auto;
    border-radius: 50%;
}